@model IdentityServer.Models.RegisterViewModel

<div>
    <div class="container">
        <h2>Register new user</h2>
        <hr />
        <form method="post" asp-controller="Account" asp-action="Register">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="Email"></label><br />
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="Password"></label><br />
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <label asp-for="ConfirmPassword"></label><br />
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div style="padding-top: 10px;">
                <input type="submit" value="Register" style="width: 250px;" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>