@{
    ViewData["Title"] = "Home Page";
}

<div class="header" style="padding-top: 0;">
    <div class="container">
        <h1>MD</h1>
        <a asp-action="Login" asp-controller="Account" class="button button-info">SignIn</a>
    </div>
</div>

@section Styles {
    <link href="~/css/Home/index.css" type="text/css" rel="stylesheet" />
}